.repositories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  
  h1 {
    font-size: 22px;
  }

  .notification {
    color: red;
  }

  .spinner {
    color: #666;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    &.languages li {
      margin: 0 20px;
      label {
        cursor: pointer;
      }
    }
  }

  button {
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
  }
}